.list {
    display: flex;
    justify-content: center;
    padding-top: 80px;
}

.list-card {
    width: 500px;
    min-height: 70vh;
    max-height: 75vh;
    overflow-y: auto;
    .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 20px;
        border-bottom: solid rgba(0, 0, 0, 0.4);
        color: rgba(0, 0, 0, 0.4);
    }
}

mat-icon {
    color: gray;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
}

tr td:first-child {
    width: 32px;
}

tr td:last-child {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

tr {
    border-bottom: 1px rgba(128, 128, 128, 0.5) solid;
    height: 40px;

    &:hover {
        .delete {
            opacity: 1;
            align-self: center;
        }
    }

    .delete {
        opacity: 0;
        transition: all 255ms ease-in-out;
    }
}

td {
    font-weight: 600;
    font-size: 1rem;
}

.new-task-input {
    display: flex;
}

.no-focus {
    color: gray;

    input {
        color: gray;
    }
}



.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.add-task {
    width: 100%;
    font-size: 1rem;
    animation: showInput 100ms ease-in-out;
    display: flex;
    align-items: center;
    margin-top: 12px;
    mat-form-field {
        width: 100%;
    }
}

@keyframes showInput {
    from {
        opacity: 0;
        transform: scaleY(0);
    }

    to {
        opacity: 1;
        transform: scaleY(1);
    }
}

.no-style {
    border-style: unset;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    &:focus {
        outline: none;
    }
}

.headline{
    font-size: 1.5rem;
    font-weight: 700;
}

.btn-div{
    display: flex;
}